<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.wsw">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:name=".data.AppData"
        android:theme="@style/Theme.WSW"
        tools:targetApi="m">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.home.mypage.MypageActivity"/>
        <activity android:name=".ui.home.mypage.message.MessageActivity"/>
        <activity android:name=".ui.home.mypage.message.MessageListActivity"/>
        <activity android:name=".ui.home.mypage.message.MessageWriteActivity"/>
        <activity android:name=".ui.home.mypage.scrab.ScrabActivity"/>
        <activity android:name=".ui.home.mypage.studylist.StudylistActivity"/>
        <activity android:name=".ui.home.NotificationActivity"/>


        <activity android:name=".feature.signup.SignupActivity" />
        <activity android:name=".feature.login.LoginActivity" />

        <activity android:name=".RandomMessageActivity"/>
        <activity android:name=".RandomMessageViewActivity"/>
        <activity android:name=".RandomMessageWriteActivity" />


        <activity android:name=".ui.studyboard.StudyBoardPostActivity" />
        <activity android:name=".ui.studyboard.StudyBoardWriteActivity" />

        <activity android:name=".ui.reviewboard.ReviewBoardPostActivity" />
        <activity android:name=".ui.reviewboard.ReviewBoardWriteActivity" />

        <activity android:name=".ui.secretboard.post.SecretBoardPostActivity" />
        <activity android:name=".ui.secretboard.post.SecretBoardWriteActivity" />

        <activity android:name=".ui.questionboard.QuestionBoardPostActivity" />
        <activity android:name=".ui.questionboard.QuestionBoardWriteActivity" />

    </application>

</manifest>